@font-face {font-family: 'arial';src: url('../fonts/arial.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Century Gothic';src: url('../fonts/GOTHICB.TTF') format('truetype');font-weight: normal;font-style: normal;}
